:global(a) {
  text-decoration: none;
}

.container {
  width: 100%;
  height: min-content;
  min-height: 18.3rem;
  max-height: 26rem;
  display: flex;
  background: #fff;
  overflow: hidden;
  padding-bottom: 0.2rem
}


.content {
  display: flex;
  position: relative;
  background: #fff;
  gap: 1rem;
}

.carouselButton {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: absolute;
  top: 9rem;
  border: 0;
  background: rgba(0,0,0,.5);
  opacity: 1;
}

.previousButton {
  margin-left: 0.5%;
}

.nextButton {
  margin-left: 85%;
}

.iconButton > :local(polyline) {
  stroke: #fff;
}


@media (min-width: 482px) {
  .nextButton {
    margin-left: 87%;
  } 
}

@media (min-width: 582px) {
  .nextButton {
    margin-left: 89%;
  } 
}

@media (min-width: 643px) {
  .nextButton {
    margin-left: 90%;
  } 
}

@media (min-width: 763px) {
  .nextButton {
    margin-left: 92%;
  } 
}

@media (min-width: 933px) {
  .nextButton {
    margin-left: 93%;
  } 
}

@media (min-width: 1007px) {
  .nextButton {
    margin-left: 94%;
  } 
}

@media (min-width: 1289px) {
  .nextButton {
    margin-left: 95%;
  } 
}